/*
-----------------------------------------------------------
Group Name   : Group 4
Project Name : Linkit
Student Name : Mistry Mayuree Rakeshbhai 
Student Id   : 8873677
Github       : mistrymayuree72@gmail.com 
Date         : 14th April 2024
------------------------------------------------------------
*/

.about-content {
    padding: 1%;
    display: flex;
    justify-content: center;
}

.about-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 50%;
}

.misc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(30px, 40px, 50px);
    color: black;
}

.social-media a {
    padding-left: 20px;
    padding-right: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        width: 100%;
        height: auto;
    }
    .about-image img {
       width: 100%;
        height: auto;
    }

    .about-text {
        width: 100%;
    }

    .about-text h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .misc-content {
        width: 100%;
    }

    .social-media {
        width: 80%;
    }

    .social-media {
        justify-content: center;
    }

    .social-media a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
